scripts/reader.js
RFID/.vs/RFID/v15/.suo
RFID/.vs/RFID/v15/Browse.VC.db
RFID/.vs/RFID/v15/Browse.VC.opendb
RFID/.vs/RFID/v15/ipch/AutoPCH/529b4c12d7e157/SERVER.ipch
RFID/.vs/RFID/v15/ipch/AutoPCH/c5bbdf5bf3c08007/READER.ipch
