.EditCarte{
    text-align: center;
}

.Inscription{
    text-align: center;
}

textarea{
    
    height:30%;
    resize:none;
}
label{
    display:block;
}
.insertuser{
    text-align: center;
}
.user{
    text-align: center;
}